.service-card-image {
  width: 100px;
  height: 100px;
}
.service-card {
  filter: drop-shadow(10px 10px 1px #179afb);
  border: 1px solid gray;
  border-radius: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 5px;
  width: 100px;
  height: 100px;
}
.image-wrapper img {
  width: 60px;
  margin: 0;
}
