.typos {
  width: 100% !important;
  text-align: center !important;
  margin-top: 60px !important;
  height: 120px !important;
}
.brackets {
  color: #179afb !important;
  font-weight: 900 !important;
  position: relative !important;
  font-size: 10vmin !important;
}
.typos-before {
  color: #000 !important;
  font-weight: 800 !important;
  position: absolute !important;
  top: 10vmin;
  left: 5vmin;
  -webkit-text-stroke: 1px #179afb !important;
  -webkit-text-fill-color: transparent !important;
  font-size: 5vmin !important;
}
.typos-main {
  color: #000;
  font-weight: 800 !important;
  font-size: 5vmin !important;
}
.typos-after {
  font-weight: 800 !important;
  position: absolute !important;
  -webkit-text-stroke: 1px #000 !important;
  -webkit-text-fill-color: transparent !important;
  font-size: 5vmin !important;
}
