.typos {
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
.brackets {
  color: #179afb;
  font-weight: 900;
  position: relative;
}
.left-content {
  display: flex;
  align-items: center;
  text-align: flex-end;
}
.device-image {
  height: 200px;
}
.small-device-image {
  width: 150px;
  height: 200px;
}
.subheading-ios {
  color: #000;
  margin-right: 10;
  display: block;
  text-align: center;
}

.android-image {
  width: 80%;
  height: auto;
}
.ux-image {
  width: 80%;
  height: auto;
}
.web-image {
  max-width: 600px;
  height: auto;
}
.desktop-image {
  max-width: 60%;
  height: auto;
}
.small-desktop-image {
  max-width: 400px;
  height: auto;
}
.paper-service {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mockup-images {
  width: 50%;
  height: auto;
}
.case-btn {
  background-color: #179afb;
  color: white;
  margin-top: 20px;
  border-radius: 0;
}
.quote-btn {
  background-color: #707070;
  color: white;
  margin-top: 20px;
  border-radius: 0;
  display: flex;
  align-self: center;
}
